body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #7ceefd, #027fc7);
  height:fit-content;

  
}

body .dark-mode {
  background:linear-gradient(to right, #101010, #000000);
  color: #ffffff;
}

.app {
  margin: auto;
  padding: 20px;
  height: 100%vh;
}

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  height: 100%;
}

.app-header h1 {
  color: #004AAD;
  font-size: 3rem;
  margin: 0;
  text-shadow: 2px 2px white;
}

.header h1 {
  margin: 0;
  font-size: 2.5rem;
  color: #004AAD;
  font-family: 'Segoe UI', sans-serif;
}

.header button {
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  background: linear-gradient(to bottom, #004AAD, #003a80);
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.header button:hover {
  background: linear-gradient(to bottom, #003a80, #002a60);
}

.search-bar {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.search-bar input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Monospace', monospace;
  margin-right: 5px;
}

.search-bar button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  background: linear-gradient(to bottom, #007bff, #0056b3);
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
}

.search-bar button:hover {
  background: linear-gradient(to bottom, #033a75, #002a60);
}

.view-switch {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.view-switch button {
  margin: 0 12px;
  padding: 12px 24px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f9fa;
  cursor: pointer;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.view-switch button:hover {
  background-color: #ffffff;
}

.weather-display {
  text-align: center;
  font-family: 'Serif', serif;
}

.weather-display img {
  width: 250px;
  height: 100px;
}

.weather-display .degree {
  font-size: 5rem;
  font-weight: bold;
  color:  #ffffff;
}
.weather-display h4 {
  color: #004AAD;
}

.weather-display .forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.current {
  margin-top: 2px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  font-size: 10px;
  color:  #ffffff;
}

.humidity {
  margin-bottom: 5px;
  font-size: 15px;
}

.wind-speed {
  margin-top: 5px; 
  font-size: 15px;
}

.forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  background: transparent;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 15px;
  max-width: 180px;
  width: 130px;
  text-align: center;
  margin-top: 10px;
 
}

.forecast-item .day-name,
.forecast-item .hour {
  font-size: 2rem;
  font-weight: 600;
  color: #004AAD;
}
.forecast-item .hour {
  font-size: 1.5rem;
  font-weight: 600;
  color: #004AAD;
}

.forecast-item .temperature {
  font-size: 2.5rem;
  font-weight: 700;
  color:  #ffffff;
  margin-top: 1px;
}

.forecast-item .description {
  font-size: 1.3rem;
  color:#004AAD;
}

.forecast-item .forecast-icon {
  width: 170px;
  height: 90px;
  margin: 3px 0;
}
.location-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #004AAD;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.location-popup p {
  margin: 0 0 10px;
  font-size: 16px;
  color: #333;
}

.location-popup button {
  margin-right: 10px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  background: #ffffff;
  color: #241D10;
  border: none;
  border-radius: 6px;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.location-popup button:hover {
  background: #ffffff;
}

.get-alert-button {
  padding: 12px 24px;
  font-size: 20px;
  border: none;
  background:  #ffffff;
  color: #241D10;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.get-alert-button:hover {
  background: linear-gradient(to bottom, #007bff, #0056b3);
}


.dark-mode .app {
  background: #1e1e1e;
  color: #ffffff;
}

.dark-mode .header h1 {
  color: #ffffff;
}

.dark-mode .search-bar input {
  border: 1px solid #333;
  background: #333;
  color: #ffffff;
}
.dark-mode .app-header h1{
  color: #06aefc;
}
.dark-mode .app-header h2{
  color: #2ab8fa;
}

.dark-mode .header h1 {
  margin: 0;
  font-size: 2.5rem;
  color: #2ab8fa;
  font-family: 'Segoe UI', sans-serif;
}
.dark-mode .forecast-item {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
.dark-mode .forecast-item .day-name {
  color: #ffffff;
}
.dark-mode .forecast-item .hour {
  color: rgba(64, 218, 245, 0.9);
}


.dark-mode .forecast-item .temperature {
  color: #ffffff;
}

.dark-mode .forecast-item .description {
  color: white;
}


.dark-mode .search-bar button:hover {
  background: linear-gradient(to bottom, #3575bb, #73a8ee);
}

.dark-mode .view-switch button {
  background-color: transparent;
  color: white;
}
.dark-mode .view-switch button:hover {
  background-color: #3d3d3d;
  color: white;
}
.dark-mode .weather-display {
  color: #ffffff;
}

.dark-mode .location-popup {
  background-color: #1e1e1e;
  border: 1px solid #ffffff;
}

.dark-mode .location-popup button {
  background: linear-gradient(to bottom, #007bff, #0056b3);
  color: #ffffff;
}

.dark-mode .get-alert-button:hover {
  background: linear-gradient(to bottom, #007bff, #0056b3);
}

.app-sms input.phone-input {
  color: #333;
}

.app-sms input.phone-input:focus {
  outline: none;
  border: 1px solid #004AAD;
}

.app-sms button.submit-button {
  background: linear-gradient(to bottom, #004AAD, #003a80);
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.app-sms button.submit-button:hover {
  background: linear-gradient(to bottom, #003a80, #002a60);
}

.dark-mode .app-sms input.phone-input {
  background-color: #333;
  color: #ffffff;
  border: 1px solid #333;
}

.dark-mode .app-sms input.phone-input:focus {
  border: 1px solid #ffffff;
}

.dark-mode .app-sms button.submit-button {
  background: linear-gradient(to bottom, #007bff, #0056b3);
}

.dark-mode .app-sms button.submit-button:hover {
  background: linear-gradient(to bottom, #033a75, #002a60);
}
.buttons {
  margin-top: 10px;

}

.buttons button {
  background-color: #004AAD;
  color: #FFFFFF;
  border: none;
  padding: 10px 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s, transform 0.3s;
}

.buttons button:hover {
  background-color: #003388;
  transform: scale(1.05);
}

.buttons button:active {
  background-color: #002a6a;
}
.dark-mode .weather-display .degree {
  font-size: 8rem;
  font-weight: bold;
  color: #ffffff;
}

@media (max-width: 430px) {
  .header button {
    padding: 8px 16px;
    font-size: 14px;
  }
 
  .view-switch button {
    padding: 8px 14px;
    font-size: 10px;
  }

  .location-popup button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .search-bar input {
    font-size: 14px;
  }

  .search-bar button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .forecast-item {
    margin: 5px;
    margin-top: 15px;
  }

  .forecast-item img {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 370px) {

  .current-conditions h2{
    font-size: 2rem !important;
    color: palevioletred;
   
  }
  .app-sms button.submit-button {
    font-size: 12px; 
    padding: 8px 16px; 
  }
  .buttons {
    font-size: 12px; 
    padding: 8px 16px; 
  }
}
.weather-display .current-conditions {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 5px; 
  font-size: 2.5rem;
  margin-top: 10px;
}

.weather-display .current-conditions .degree {
  font-size: 4rem;
  font-weight: bold;
  color: #ffffff;
}

.weather-display .current-conditions img {
  width: 100px;
  height: 100px;
}
.weather-display {
  margin-top: 20px;
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  color: #004AAD;
}

.current-conditions img {
  width: 50px;
  height: 50px;
}

.degree h2 {
  font-size: 3rem;
  color: #004AAD;
}

.current p {
  font-size: 1rem;
  color: #241D10;
}

.forecast {
  margin-top: 20px;
}

.card-body {
  background: rgba(255, 255, 255, 0.082); 
  border-radius: 10px;
  width: 100%;
  margin: auto;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  
} 
.weather-display .card{
  width: 80%;
  margin: auto;
  border: none;
}
.buttons {
  width: 100%;
  margin-top: 0px; 
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-sms .form-inline {width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.app-sms p {
  width: 100%;
  color: white;
  margin-top: 0; 
  margin-bottom: 0px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
