body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: url('./assets/LIGHT.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #333;
}

body .dark-mode {
  background:black;
  color: #ffffff;
}

.app {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-header h1{
  color: #004AAD;
}
.app-header h2{
  color: #004AAD;
}

.header h1 {
  margin: 0;
  font-size: 2.5rem;
  color: #004AAD;
  font-family: 'Segoe UI', sans-serif;
}

.header button {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  background: linear-gradient(to bottom, #004AAD, #003a80);
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.header button:hover {
  background: linear-gradient(to bottom, #003a80, #002a60);
}

.search-bar {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.search-bar input {
  padding: 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Monospace', monospace;
  margin-right: 5px;
}

.search-bar button {
  padding: 10px 20px;
  font-size: 10px;
  border: none;
  background: linear-gradient(to bottom, #007bff, #0056b3);
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
}

.search-bar button:hover {
  background: linear-gradient(to bottom, #033a75, #002a60);
}

.view-switch {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.view-switch button {
  margin: 0 12px;
  padding: 12px 24px;
  font-size: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f9fa;
  cursor: pointer;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.view-switch button:hover {
  background-color: #e3a94c;
}

.weather-display {
  text-align: center;
  font-family: 'Serif', serif;
}

.weather-display img {
  width: 100px;
  height: 100px;
}

.weather-display .degree {
  font-size: 3rem;
  font-weight: bold;
  color: #004AAD;
}

.weather-display .description {
  font-size: 1.5rem;
  color: #e3a94c;
}

.weather-display .forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 8px;
  max-width: 120px;
  text-align: center;
  margin-top: 20px;
}

.forecast-item .day-name,
.forecast-item .hour {
  font-size: 1rem;
  font-weight: 600;
  color: #004AAD;
}

.forecast-item .temperature {
  font-size: 1.5rem;
  font-weight: 700;
  color: #F4C561;
  margin: 5px 0;
}

.forecast-item .description {
  font-size: 0.9rem;
  color: #333;
}

.forecast-item .forecast-icon {
  width: 50px;
  height: 50px;
  margin: 5px 0;
}
.location-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #004AAD;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.location-popup p {
  margin: 0 0 10px;
  font-size: 16px;
  color: #333;
}

.location-popup button {
  margin-right: 10px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  background: linear-gradient(to bottom, #F4C561, #e3a94c);
  color: #241D10;
  border: none;
  border-radius: 6px;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.location-popup button:hover {
  background: linear-gradient(to bottom, #e3a94c, #c28a3c);
}

.get-alert-button {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  background: linear-gradient(to bottom, #F4C561, #e3a94c);
  color: #241D10;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.get-alert-button:hover {
  background: linear-gradient(to bottom, #007bff, #0056b3);
}


.dark-mode .app {
  background: #1e1e1e;
  color: #ffffff;
}

.dark-mode .header h1 {
  color: #ffffff;
}

.dark-mode .search-bar input {
  border: 1px solid #333;
  background: #333;
  color: #ffffff;
}
.dark-mode .app-header h1{
  color: #06aefc;
}
.dark-mode .app-header h2{
  color: #2ab8fa;
}

.dark-mode .header h1 {
  margin: 0;
  font-size: 2.5rem;
  color: #2ab8fa;
  font-family: 'Segoe UI', sans-serif;
}
.dark-mode .forecast-item {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
.dark-mode .forecast-item .day-name {
  color: rgba(248, 172, 9, 0.9);
}
.dark-mode .forecast-item .hour {
  color: rgba(64, 218, 245, 0.9);
}


.dark-mode .forecast-item .temperature {
  color: rgba(248, 172, 9, 0.9);
}

.dark-mode .forecast-item .description {
  color: white;
}


.dark-mode .search-bar button:hover {
  background: linear-gradient(to bottom, #3575bb, #73a8ee);
}

.dark-mode .view-switch button {
  background-color: transparent;
  color: white;
}
.dark-mode .view-switch button:hover {
  background-color: #e3a94c;;
  color: white;
}
.dark-mode .weather-display {
  color: #ffffff;
}

.dark-mode .location-popup {
  background-color: #1e1e1e;
  border: 1px solid #ffffff;
}

.dark-mode .location-popup button {
  background: linear-gradient(to bottom, #007bff, #0056b3);
  color: #ffffff;
}

.dark-mode .forecast-item img {
  filter: brightness(0) invert(1);
}

.dark-mode .get-alert-button:hover {
  background: linear-gradient(to bottom, #007bff, #0056b3);
}

.app-sms input.phone-input {
  color: #333;
}

.app-sms input.phone-input:focus {
  outline: none;
  border: 1px solid #004AAD;
}

.app-sms button.submit-button {
  background: linear-gradient(to bottom, #004AAD, #003a80);
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.app-sms button.submit-button:hover {
  background: linear-gradient(to bottom, #003a80, #002a60);
}

.dark-mode .app-sms input.phone-input {
  background-color: #333;
  color: #ffffff;
  border: 1px solid #333;
}

.dark-mode .app-sms input.phone-input:focus {
  border: 1px solid #ffffff;
}

.dark-mode .app-sms button.submit-button {
  background: linear-gradient(to bottom, #007bff, #0056b3);
}

.dark-mode .app-sms button.submit-button:hover {
  background: linear-gradient(to bottom, #033a75, #002a60);
}
.buttons {
  margin-top: 10px;
}

.buttons button {
  background-color: #004AAD;
  color: #FFFFFF;
  border: none;
  padding: 10px 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  transition: background-color 0.3s, transform 0.3s;
}

.buttons button:hover {
  background-color: #003388;
  transform: scale(1.05);
}

.buttons button:active {
  background-color: #002a6a;
}
.dark-mode .weather-display .degree {
  font-size: 3rem;
  font-weight: bold;
  color: #49d1fa;
}

@media (max-width: 430px) {
  .header button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .view-switch button {
    padding: 8px 14px;
    font-size: 10px;
  }

  .location-popup button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .search-bar input {
    font-size: 14px;
  }

  .search-bar button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .forecast-item {
    margin: 5px;
    margin-top: 15px;
  }

  .forecast-item img {
    width: 40px;
    height: 40px;
  }
}
